{{- $personalEmail := (rbw "personal_email" "--folder" "Chezmoi").data.username -}}
{{- $workGitDomain := (rbwFields "work" "--folder" "Chezmoi").git_domain.value -}}
[push]
    autoSetupRemote = true

[pull]
    rebase = true

[diff]
    tool = difftastic

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[pager]
    difftool = true

[alias]
    dft = difftool

[user]
    name = Karolis Pabijanskas
    email = {{ $personalEmail }}

{{ if ne $workGitDomain "" -}}
[includeIf "hasconfig:remote.*.url:https://{{ $workGitDomain }}"]
    path = ~/.gitconfig-work

[includeIf "hasconfig:remote.*.url:git://{{ $workGitDomain }}"]
    path = ~/.gitconfig-work
{{- end }}
