{{- $registry := (rbwFields "work" "--folder" "Chezmoi").registry_domain.value  -}}
{{- $username := (rbwFields "work" "--folder" "Chezmoi").git_http_username.value -}}
{{- $password := (rbwFields "work" "--folder" "Chezmoi").git_http_password.value -}}
{
	"auths": {
		"{{ $registry }}": {
			"auth": "{{ printf "%s:%s" $username $password | b64enc }}"
		}
	}
}
