{{- $intelephenseKey := (rbw "Intelephense" "--folder" "Chezmoi").data.password -}}
(setq kp/secrets '(("intelephense_key" . "{{ $intelephenseKey}}")))

(defun kp/get_secret (secret_name)
  "Get a secret"
  (cdr (assoc secret_name kp/secrets)))
