local wezterm = require("wezterm")
return {
    window_decorations = "INTEGRATED_BUTTONS|RESIZE",
    enable_scroll_bar = false,
    enable_tab_bar = false,
    font = wezterm.font("JetBrains{{ if ne .chezmoi.os "darwin" }} {{ end}}Mono Nerd Font Mono"),
    font_size = 1{{if eq .chezmoi.os "darwin"}}2{{else}}0{{end}},
    color_scheme = "Catppuccin Latte",
    window_padding = {
        left = 0,
        right = 0,
        top = 0,
        bottom = 0,
    },
    audible_bell = "Disabled",
    check_for_updates = false,
}
