{{- $token := (rbwFields "Exercism" "--folder" "Chezmoi").token.value -}}
{
  "apibaseurl": "https://api.exercism.io/v1",
  "token": "{{ $token }}",
  "workspace": "{{ .chezmoi.homeDir }}/workspaces/exercism"
}
